body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: rgb(248, 188, 75);
}
.flexable-contaioner{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
  text-decoration: none;  
  color: aliceblue;
  background-image: linear-gradient(orange , tomato);
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
}
.ex-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex-area-div{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 40px;
    width: 40%;
    box-shadow: 5px 5px 30px gray;

}
.full-dev{
    
    border-left: 4px solid tomato;
}  
.baby-dev{
    border-left: 4px solid blue;
}  
.footer-area{
    text-align: center;
}