body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.JM{
    color: rgb(248, 188, 75);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
  text-decoration: none;  
  color: aliceblue;
  background-image: linear-gradient(orange , tomato);
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}